#btn-delete {
    padding: 0;
    line-height: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: .5rem;
}

.item-checkbox {
    margin-right: 1rem;
}

